{% extends "layout.html" %}
{% load static %}


{% block body %}



<div class="container">
  <div class="profilePage">

    <h5 style="text-align: center; font-weight: bold;">ŞİFREMİ UNUTTUM</h5>

    <div>
      <form class="forgetpassPage" method="post">
        {% csrf_token %}

        <p>Şifre yenileme linkinin gönderilieceği hesabınızın kayıtlı olduğu e-posta adresini giriniz
        </p>
        <div class="forgetColumn">
          <input class="email" required type="email" name="email" placeholder="E-posta adresi">
          <input class="send" type="submit" value="Gönder">
        </div>
      </form>

    </div>
  </div>
</div>

{% endblock body %}