{% extends 'layout.html' %}
{% load static %}
{% block body %}

<div class="container" style="padding: 220px;">

	<div class="d-flex flex-column">
		<p class="m-auto p-2">
			Size şifrenizi sıfırlamanız için bir e-posta gönderdik, gelen sıfırlama linkine tıklayarak veya tarayıcınıza
			yapıştırarak şifrenizi sıfırlayabilirsiniz.
		</p>
		<p class="m-auto p-2">
			Eğer e-posta gelmediyse lütfen spam kutunuzu kontrol etmeyi unutmayınız. İyi okumalar dileriz.
		</p>
		<p class="m-auto p-2"><a style="color: #814723;" href="{% url 'index' %}">Anasayfaya Dön</a></p>
	</div>
</div>

{% endblock %}