{% load static %}
{% load socialaccount %}
<nav class="nav">
    <div class="nav-menu flex-row">
        <div class="nav-brand">
            <a href="{% url 'index' %}"><img src="{% static 'assets/penguildLogo.png' %}" class="text-gray"></a>

        </div>
        <div class="toggle-collapse">
            <div class="toggle-icons">
                <i class="fas fa-bars"></i>
            </div>
        </div>
        <div>
            <ul class="nav-items">

                <li class="nav-link">
                    <a href="{% url 'article:category_science'  %}">Bilim</a>
                </li>
                <li class="nav-link">
                    <a href="{% url 'article:category_technology'  %}">Teknoloji</a>
                </li>
                <li class="nav-link">
                    <a href="{% url 'article:category_sport'  %}">Spor</a>
                </li>
                <li class="nav-link">
                    <a href="{% url 'article:category_culture'  %}">Kültür</a>
                </li>
                <li class="nav-link">
                    <a href="{% url 'article:category_art'  %}">Sanat</a>
                </li>
                <li>
                    <a href="<"></a>
                </li>
            </ul>
        </div>


        <div class="social text-gray">

            <div id="colorNav">
                <ul>
                    {% if request.user.is_authenticated %}
                    <li class="nav-link">
                        <a href="{% url 'userprofile:logout'  %}">Çıkış Yap</a>
                    </li>
                    {% else %}
                    <li class="green">
                        <a class="fa fa-user"></a>
                        <ul>

                            <button class="btnModal"
                                onclick="document.getElementById('myModal').style.display='block'">Login</button>
                            <button class="signupBtn"
                                onclick="document.getElementById('signupMyModal').style.display='block'">Register</button>
                        </ul>
                    </li>
                    {% endif %}


                    <!--  -->

            </div>

            <!-- <i class="fas fa-user text-gray"></i> -->

        </div>
</nav>
<!-- Login Modal -->
<div class="modal" id="myModal">
    <div class="modalContent">
        <div class="modalHeader">
            <a onclick="document.getElementById('myModal').style.display='none'" id="close" class="close">&#9587;</a>
        </div>
        <div class="modalBody">
            <div class="loginBox">

                <h1>Giriş</h1>
                <form method="POST" action="{% url 'userprofile:login'  %}">
                    {% csrf_token %}
                    <p>Email Adresiniz</p>
                    <input type="text" name="email" placeholder="Email Adresiniz">
                    <p>Şifre</p>
                    <input type="password" name="password" placeholder="Şifre">
                    <a href="#" onclick="document.getElementById('forgerPass').style.display='block'"
                        class="loginboxa">Şifremi unuttum</a> <br> <br> <a
                        style="color:black; text-decoration:none; ">Hesabın yok mu? <a href="#" style="color: red;"
                            onclick="document.getElementById('signupMyModal').style.display='block'"
                            class="modalSignupBtn">Kaydol</a> </a> <br>

                    <input type="submit" name="submit" value="Giriş">




                </form>

                <a href="{% provider_login_url 'google' %}" class="fa fa-google-plus"> Google ile giriş</a>


            </div>
        </div>
    </div>
</div>



<!-- Loginmodal -->


<!-- SignUp Modal -->
<div class="signupModal" id="signupMyModal">
    <div class="SignupModalContent">
        <div class="SUHeader">
            <span onclick="document.getElementById('signupMyModal').style.display='none'" id="closeSignUpModal"
                class="closeSignUpModal">&#9587;</span>
        </div>
        <div class="SUmodalBody">
            <div class="SUloginBox">
                <h1>Kayıt Ol</h1>
                <form method="POST" action="{% url 'userprofile:register'  %}">
                    {% csrf_token %}

                    <p>İsim</p>
                    <input type="text" name="fullName" placeholder="İsim">
                    <p>E-mail</p>
                    <input type="mail" name="email" placeholder="E-mail">
                    <p>Şifre</p>
                    <input type="password" name="password1" placeholder="Şifre">
                    <p>Şifre tekrar</p>
                    <input type="password" name="password2" placeholder="Şifre tekrar">

                    <label class="check">
                        <p> Erkek</p>
                        <input name="gender" value="m" type="radio" />
                        <span class="checkbox"></span>
                    </label>
                    <label class="check">
                        <p> Kadın</p>
                        <input name="gender" value="f" type="radio" />
                        <span class="checkbox"></span>
                    </label>

                    <input type="submit" name="submit" value="Kayıt">


                    <a href="{% provider_login_url 'google' %}" class="fa fa-google-plus">Google ile
                        kayıt</a>
                </form>
            </div>
        </div>

    </div>

</div>


<!-- SignUp Modal -->


<!-- Forget Password Modal -->
<!-- 
<div class="forgetPass" id="forgetPass">
    <div class="SignupModalContent">
        <div class="SUHeader">
            <span onclick="document.getElementById('forgetPass').style.display='none'" id="closeSignUpModal"
                class="closeSignUpModal">&#9587;</span>
        </div>
        <div class="SUmodalBody">
            <div class="SUloginBox">
                <h1>Şifremi Unuttum</h1>
                <form method="POST" action="#">
                    {% csrf_token %}


                    <p>E-mail</p>
                    <input type="mail" name="email" placeholder="E-mail">

                    <input type="submit" name="submit" value="Kayıt">


                    <a href="{% provider_login_url 'google' %}" class="fa fa-google-plus">Google ile
                        kayıt</a>
                </form>
            </div>
        </div>

    </div>

</div> -->