{% extends "layout.html" %}
{% load social_share %}
{% load static %}
{% block body %}



<style>
  .btnModal {
    border: 0;
    background-color: transparent;
    color: #115055;
    font-weight: 700;
  }

  .detailsimg {
    height: 500px;
    width: 100%;

    filter: brightness(40%) blur(3px);
  }

  .imgHeaderText {
    position: absolute;
    top: 50%;
    left: 45%;
    color: white;
    font-size: 100px;
  }
</style>





<!-- ------------x---------------  TExt İmage --------------------------x------------------- -->
<div class="container1">
  <img class="detailsimg" src="{{article.article_image.url}}" alt="İmage">
  <h2 class="imgHeaderText">{{article.title}}</h2>
</div>


<!-- ------------x---------------  TExt İmage  --------------------------x------------------- -->
<!-- ------------x---------------  Text Detail --------------------------x------------------- -->

<div class="detailText">
  <p>{{article.created_date|timesince}} önce yayınlandı.</p>
  <div class="likeComment">
    <i class="fas fa-heart">{{total_likes}}</i>
    <i class="fas fa-eye">{{article.read}}</i>
  </div>

</div>

<!-- ------------x---------------  Text Detail --------------------------x------------------- -->
<!-- gRİD -->
<div class="grid">
  <div class="grid1">
    <p>{{article.content|safe}}</p>


    <div class="textFoto">
      <img src="" alt="">
    </div>
    <div class="shareBar">
      <form method="POST" id="like">

        {% csrf_token %}
        <button style="cursor: pointer" id="likeButton" type="submit" name="post_id" value="{{article.id}}">
          <i id="icon" class="far fa-thumbs-up fa-lg"></i>
          Gönderiyi Beğen
        </button>
      </form>
      <form method="POST" id="favourite">

        <button type="submit">
          <i class="far fa-bookmark fa-lg" id="favourite_icon"></i>
        </button>
      </form>

      <i class="fas fa-bookmark"> Gönderiyi Kaydet</i>
      <i class="fas fa-share-alt"> Gönderiyi Beğen</i>

      <i class="fas fa-share-alt"> Gönderiyi Paylaş</i>




    </div>



    <div class="writerTextImg">
      <div class="writer">
        <img src="{{article.author.account_avatar.url}}" alt="avatar">


      </div>
      <a href=""> {{article.author.fullName}}<p>{{article.author.job}}</p></a>


    </div>

    <!-- Yorum -->
    <div class="commentBar">
      {% if request.user.is_authenticated %}
      <h1>Yorum Yap</h1>
      <hr>
      {% else %}
      <p>
        yorum yapmak için
        <button class="btnModal" onclick=modalOpen>giriş </button>
        yapmalısınız
      </p>
      <script>
        var myModal = document.getElementById('myModal')
        var img = document.getElementsByClassName('comment-avatar')
        var btnModal = document.getElementsByClassName('btnModal')

        function modalOpen() {

          btnModal.onclick = function () {
            myModal.style.display = "block"
            img.style.display = "none"
          }
        }


      </script>
      {% endif %}
      {% if request.user.is_authenticated %}
      <form action=" {% url 'article:comment' article.id %}" method="post">
        {% csrf_token %}

        <textarea name="comment_content" style="color: black;" class="feedback-input" placeholder="Yorum"></textarea>
        <input type="submit" value="Gönder" />
      </form>

      <hr>
      {% endif %}

      <!-- Contenedor Principal -->
      <div class="comments-container">


        <ul id="comments-list" class="comments-list">


          <li>
            {% if comments %}
            {% for comment in comments %}
            <div class="comment-main-level">
              <!-- Avatar -->
              {% if comment.comment_photo %}
              <div class="comment-avatar"><img src="{{comment.comment_photo.url}}" alt=""></div>
              {% else %}
              <div class="comment-avatar"><img src="https://i.pravatar.cc/75" alt=""></div>
              {% endif %}
              <!-- Contenedor del Comentario -->
              <div class="comment-box">
                <div class="comment-head">
                  <h6 class="comment-name"><a href="">{{comment.comment_author}}</a></h6>
                  <span>{{comment.comment_date|timesince}}</span>
                  {% if request.user.is_authenticated %}
                  <a class="accordion"><i class="fa fa-reply"></i></a>
                  <div class="panel" style="display: none;">
                    <form action=" {% url 'article:reply' %}" method="post">
                      {% csrf_token %}
                      <input type="hidden" name="comment_id" value="{{ comment.id }}">
                      <textarea name="comment_reply" style="color: black;" class="feedback-input"
                        placeholder="Yanıtınız"></textarea>
                      <input type="submit" value="Gönder" />
                    </form>

                  </div>
                  {% else %}

                  <button class="btnModal" onclick="document.getElementById('myModal').style.display='block'"><i
                      class="fa fa-reply"></i></button>

                  {% endif %}
                  <!-- comment-like -->
                  <!-- <form method="POST" id="comment_like">
                    {% csrf_token %}

                    <button id="comment_like_button" type="submit" name="comment_id">
                      <i class="fa fa-heart" id="icon"></i>
                    </button>

                  </form> -->
                  <!-- comment-like end-->
                </div>
                <div class="comment-content">
                  {{comment.comment_content}}
                </div>
              </div>
            </div>
            <ul class="comments-list reply-list">


              <li>
                <!-- Avatar -->
                <div class="comment-avatar"><img src="./assets/parpara-palvin.jpg" alt=""></div>
                <!-- Contenedor del Comentario -->
                <div class="comment-box">
                  <div class="comment-head">
                    <h6 class="comment-name"><a href="">Murat Köksalan</a></h6>
                    <span>10 dakika önce</span>
                    <i class="fa fa-reply"></i>
                    <i class="fa fa-heart"></i>
                  </div>
                  <div class="comment-content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure laudantium
                    vitae, praesentium optio, sapiente distinctio illo?
                  </div>
                </div>
              </li>
            </ul>
          </li>
          {% endfor %}
          {% else %}
          <div class="commentsPart">
            <div class="commentsPartright">
              <div style="margin-top: 3%">
                Bu röportaja yorum yapılmamıştır.İlk yorumu yapan siz olun!
              </div>
            </div>
          </div>

          {% endif %}
        </ul>
      </div>
    </div>

  </div>
  <div class="grid2">

    <h2>Öne Çıkanlar</h2>
    <hr>
    <br>


    <figure class="snip1529">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/pr-sample13.jpg" alt="pr-sample13" />
      <div class="date"><span class="day">28</span><span class="month">Apr</span></div>
      <figcaption>
        <h3>An Abstract Post Heading</h3>
        <p>Which is worse, that everyone has his price, or that the price is always so low.</p>
      </figcaption>
      <div class="hover">
        <h4 style="text-align: center; font-size: medium;">devamını gör</h4>
      </div>
      <a href="#"></a>
    </figure>
    <figure class="snip1529 hover"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/pr-sample21.jpg"
        alt="pr-sample21" />
      <div class="date"><span class="day">17</span><span class="month">May</span></div>
      <div class="date"><span class="day">17</span><span class="month">May</span></div>
      <figcaption>
        <h3>Down with this sort of thing</h3>
        <p>I'm killing time while I wait for life to shower me with meaning and happiness.</p>
      </figcaption>
      <div class="hover">
        <h4 style="text-align: center; font-size: medium;">devamını gör</h4>
      </div>
      <a href="#"></a>
    </figure>
    <figure class="snip1529"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/pr-sample23.jpg"
        alt="pr-sample23" />
      <div class="date"><span class="day">08</span><span class="month">June</span></div>
      <figcaption>
        <h3>The World Ended Yesterday</h3>
        <p>The only skills I have the patience to learn are those that have no real application in life. </p>
      </figcaption>
      <div class="hover">
        <h4 style="text-align: center; font-size: medium;">devamını gör</h4></i>
      </div>
      <a href="#"></a>
    </figure>

  </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>

<script src="{% static 'js/shareModal.js'%}"></script>





<script>
  var acc = document.getElementsByClassName("accordion");
  var i;

  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function () {
      /* Toggle between adding and removing the "active" class,
      to highlight the button that controls the panel */
      this.classList.toggle("active");

      /* Toggle between hiding and showing the active panel */
      var panel = this.nextElementSibling;
      if (panel.style.display === "block") {
        panel.style.display = "none";
      } else {
        panel.style.display = "block";
      }
    });
  }
</script>

<!-- post-like-script -->
<script type="text/javascript">
  $(document).on("submit", "#like", function (e) {
    console.log($("input[name=csrfmiddlewaretoken]").val());
    e.preventDefault();

    $.post(
      '{% url "article:like_post" article.id  %}',
      {
        post_id: $("#likeButton").val(),
        csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val(),
      },
      function (data, success) {
        const id = document.getElementById("icon");
        const id1 = document.getElementById("icon1");
        if (id.classList.contains("fas")) {
          id.classList.remove("fas");
          id.classList.toggle("far");
          id1.classList.remove("fas");
          id1.classList.toggle("far");
        } else if (id.classList.contains("far")) {
          id.classList.toggle("fas");
          id.classList.remove("far");
          id1.classList.toggle("fas");
          id1.classList.remove("far");
        }
      }
    );
  });
</script>


<!-- Post-favourite-script -->
<script type="text/javascript">
  $(document).on("submit", "#favourite", function (e) {
    e.preventDefault();

    $.post(
      "{% url 'article:favourite_post' article.id %}",
      {
        csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val(),
      },
      function (data, success) {
        console.log("success");
        const id = document.getElementById("favourite_icon");
        const id1 = document.getElementById("favourite_icon1");
        if (id.classList.contains("fas")) {
          id.classList.remove("fas");
          id.classList.toggle("far");
          id1.classList.remove("fas");
          id1.classList.toggle("far");
        } else if (id.classList.contains("far")) {
          id.classList.toggle("fas");
          id.classList.remove("far");
          id1.classList.toggle("fas");
          id1.classList.remove("far");
        }
      }
    );
  });
</script>


{% endblock body %}