{% extends "layout.html" %}

{% block body %}

<div class="jumbotron text-center">
        <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, qui.</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit ab debitis ducimus! Rem similique quas quaerat
                tempora sapiente praesentium nulla obcaecati odio ut, tenetur ipsa fuga. Harum laudantium, repellendus
                ipsa aut tempora reprehenderit consequatur modi vero eligendi quos et nemo nulla, voluptates tempore
                soluta, nisi incidunt rem doloremque minima distinctio.</p>
</div>



{% endblock body %}